
{% block content %}
  <h2>Add Tags</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Add Primary Topic</h4>
      <form method="POST" action="{% url 'add_primary_topic' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Primary Topic</button>
      </form>
      <hr>
      <ul>
      {% for primary_topic in primary_topics %}
      <li>{{ primary_topic.name }}</li>
      {% empty %}
      <li>No primary topics yet.</li>
      {% endfor %}
      </ul>
      </div>
    <div class="col-md-6">
<h4>Add Subtopic</h4>
<form method="POST" action="{% url 'add_subtopic' %}">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-primary">Add Subtopic</button>
</form>
<hr>
<ul>
{% for subtopic in subtopics %}
<li>{{ subtopic.name }}</li>
{% empty %}
<li>No subtopics yet.</li>
{% endfor %}
</ul>
</div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Add Skill</h4>
      <form method="POST" action="{% url 'add_skill' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Skill</button>
      </form>
      <hr>
      <ul>
        {% for skill in skills %}
          <li>{{ skill.name }}</li>
        {% empty %}
          <li>No skills yet.</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Add Organization</h4>
      <form method="POST" action="{% url 'add_organization' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Organization</button>
      </form>
      <hr>
      <ul>
        {% for organization in organizations %}
          <li>{{ organization.name }}</li>
        {% empty %}
          <li>No organizations yet.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}