{% comment %} COURSE TAGS {% endcomment %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Course Tag</title>
  </head>
  <body>
    <h1>Create Course Tag</h1>
    <form method="post">
      {% csrf_token %}
      <label for="course">Course:</label>
      <select name="course" id="course">
        {% for course in courses %}
          <option value="{{ course.id }}">{{ course }}</option>
        {% endfor %}
      </select><br><br>
      <label for="primary_topic">Primary Topic:</label>
      <select name="primary_topic" id="primary_topic">
        <option value="">----</option>
        {% for primary_topic in primary_topics %}
          <option value="{{ primary_topic.id }}">{{ primary_topic }}</option>
        {% endfor %}
      </select><br><br>
      <label for="subtopic">Subtopics:</label>
      <select name="subtopic" id="subtopic" multiple>
        {% for subtopic in subtopics %}
          <option value="{{ subtopic.id }}">{{ subtopic }}</option>
        {% endfor %}
      </select><br><br>
      <label for="skills">Skills:</label>
      <select name="skills" id="skills" multiple>
        {% for skill in skills %}
          <option value="{{ skill.id }}">{{ skill }}</option>
        {% endfor %}
      </select><br><br>
      <label for="organization">Organizations:</label>
      <select name="organization" id="organization" multiple>
        {% for organization in organizations %}
          <option value="{{ organization.id }}">{{ organization }}</option>
        {% endfor %}
      </select><br><br>
      <input type="submit" value="Create">
    </form>
  </body>
</html>
{% comment %} COURSE TAGS {% endcomment %}