{% extends 'bundles_base.html' %}

{% block headextra %}{% endblock %}

{% block body %}

  <h1>{{ bundle.name }}</h1>
  <p>{{ bundle.short_description }}</p>

  {% for course in courses %}
    <div>
      <h2>{{ course.courseoverview.display_name }}</h2>
      <p>{{ course.special_course.short_description }}</p>
      <p>{{ course.special_course.long_description }}</p>
      <img src="{{ course.special_course.image_url }}" alt="{{ course.courseoverview.display_name }}">
    </div>
  {% endfor %}
{% endblock %}