{% load static %}
<div class="row">
    <div class="col-12 col-md-6 order-1 order-md-0">
      <div class="d-flex flex-column justify-content-center h-100">
        <h2 class="font-42px pb-0 pb-md-3 mt-4 mt-md-0">
          What is Future Skills?
        </h2>
        <p>
          {{ bundle.long_description }}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 order-0 order-md-1">
      <div class="d-flex h-100 align-items-center">
        <img height="auto" width="100%" src="{% static 'images/futureskill-placeholder.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="contained-wrapper pt-6 pb-6">
  <section class="will-learn-section">
    <div class="section-header d-flex align-items-center">
      <h3 class="section-title">What you will learn?</h3>
        </div>
        <div class="row pt-3 gy-2 gy-md-3 gx-3">
        <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/analysis.png' %}" height="48px" width="48px" />
          <h4>Data Analysis</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
        </div>
        <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/cybersecurity.png' %}" height="48px" width="48px" />
          <h4>Cybersecurity</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
        </div>
        <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/digital-marketing.png' %}" height="48px" width="48px" />
          <h4>Digital Marketing</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="learn-item">
                <img src="{% static 'images/learn-icons/design-thinking.png' %}" height="48px" width="48px" />
                <h4>Design Thinking</h4>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt
                </p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="learn-item">
              <img src="{% static 'images/learn-icons/sustainability.png' %}" height="48px" width="48px" />
              <h4>Sustainability</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt
              </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="learn-item">
              <img src="{% static 'images/learn-icons/creativity.png' %}" height="48px" width="48px" />
              <h4>Creativity and Innovation</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt
              </p>
            </div>
        </div>
    </section>
</div>