{% load static %}

<div class="row">
    <div class="col-12 col-md-6 order-1 order-md-0">
      <div class="d-flex flex-column justify-content-center h-100">
        <h2 class="font-42px pb-0 pb-md-3 mt-4 mt-md-0">
          What is Soft Skills?
        </h2>
        <p>
          {{ bundle.long_description }}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 order-0 order-md-1">
      <div class="d-flex h-100 align-items-center">
        <img height="auto" width="100%" src="{% static 'images/softskill-placdeholder.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="contained-wrapper pt-6 pb-6">
  <section class="will-learn-section">
    <div class="section-header d-flex align-items-center">
      <h3 class="section-title">What you will learn?</h3>
    </div>
    <div class="row pt-3 gy-2 gy-md-3 gx-3">
      <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/communication.png' %}" height="48px" width="48px" />
          <h4>Communication Skills</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
    </div>
      
    <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/leadership.png' %}" height="48px" width="48px" />
          <h4>Leadership & Management</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/intelligence.png' %}" height="48px" width="48px" />
          <h4>Emotional Intelligence</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="learn-item">
          <img src="{% static 'images/learn-icons/customer-service.png' %}" height="48px" width="48px" />
          <h4>Customer Service</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="learn-item">
            <img src="{% static 'images/learn-icons/time-management.png' %}" height="48px" width="48px" />
            <h4>Time Management</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt
            </p>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="learn-item">
            <img src="{% static 'images/learn-icons/team-building.png' %}" height="48px" width="48px" />
            <h4>Team Building</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
            </p>
        </div>
    </div>

      </section>
</div>