{% load static %}

<div class="bg-gradient-img">
    <div class="contained-wrapper pt-6 pb-6">
        <section class="category-section">
            <div class="section-header d-flex align-items-center">
                <h3 class="section-title me-auto text-white">Browse by Category</h3>
                <a href="" class="fw-bold text-white">View all Courses</a>
            </div>
            <div class="row mt-1 gutter-2rem">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/management.png'%}" />
                            <h4 class="mb-0 py-3">Management</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px"
                                src="{% static 'images/categories/engineering.png'%}" />
                            <h4 class="mb-0 py-3">Engineering</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/sales.png'%}" />
                            <h4 class="mb-0 py-3">Sales</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/marketing.png'%}" />
                            <h4 class="mb-0 py-3">Marketing</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/finance.png'%}" />
                            <h4 class="mb-0 py-3">Finance</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/HR.png'%}" />
                            <h4 class="mb-0 py-3">HR</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/IT.png'%}" />
                            <h4 class="mb-0 py-3">IT</h4>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="d-flex bg-white align-items-center category-item py-4">
                            <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/operation.png'%}" />
                            <h4 class="mb-0 py-3">Operations</h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>