{% extends "partner/base_partners.html" %}

{% block title %}Coursebank | {{ partner.name }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<section class="page-banner-flat">
    <div class="contained-wrapper">
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
            <div class="me-5">
                <img src="{{ partner.logo_url }}" width="250px" height="250px" style="object-fit: cover;"/>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <h1 class="mb-3 mt-3 mt-md-0 text-left">{{ partner.name }}</h1>
                <p class="mb-0">{{ partner.description|safe }}</p>
            </div>
        </div>
    </div>
</section>

<div class="bg-light-1">
    <div class="contained-wrapper pt-6 pb-6">
        <section class="section-courses-container">
            <div class="section-header d-flex align-items-center">
                <h3 class="section-title me-auto">About</h3>
            </div>
            <div class="row mt-3 gutter-2rem">
               <!-- Domain -->
               {% if partner.website_url != '' %}
               <div id="domain-partner" class="row">
                   <div class="col d-flex">
                       <i class="fas fa-globe mr-2"></i>
                       <a href="{{ partner.website_url }}"><p>Website</p></a>
                   </div>
                </div><br>
               {% endif %}
   
               <!-- Facebook Page  -->
               {% if partner.socmed_url != '' %}
               <div id="fb-partner" class="row">
                   <div class="col d-flex">
                       <i class="fab fa-facebook mr-2"></i>
                       <a href="{{ partner.socmed_url }}"><p>Facebook</p></a>
                   </div>
                </div><br>
               {% endif %}
               {% if partner.org == 'thecentre' %}
               <div id="tw-partner" class="row">
                 <div class="col d-flex">
                     <i class="fab fa-twitter mr-2"></i>
                     <a href="https://twitter.com/the_centre_ph"><p>Twitter</p></a>
                 </div>
                </div><br>
               {% endif %}
            </div>
        </section>
        <section class="section-courses-container">
            <div class="section-header d-flex align-items-center">
                <h3 class="section-title me-auto">Courses and Specialization</h3>
            </div>
            <div class="row pt-3 gutter-2rem">
                {% for course in courses %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{% url 'about_course' course_id=course.id %}">
                        <div class="course-item">
                            <img class="img-item" height="auto" width="100%" src="{{ course.course_image_url }}" />
                            <div class="course-details-container">
                                <div class="d-flex align-items-center">
                                    <img class="me-1" height="auto" width="32px"
                                        src="{{ partner.logo_url }}" />
                                    <h2 class="course-title">{{ partner.name }}</h2>
                                </div>
                                <p class="course-description mt-2 pb-3">
                                    {{ course.display_name }}
                                </p>
                                <div class="course-start">Class Starts:</div>
                                <span class="course-start-date">
                                    {% if course.start_display != None %}
                                        {{course.start_display}}
                                    {% else %}
                                        {{course.start}}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
