{% extends "partner/partners.html" %}

{% block title %}Coursebank | {{ partner.name }}{% endblock %}

{% block body %}
<section class="hero-partner">
    <div class="contained-wrapper">
        <div class="d-flex flex-wrap flex-md-nowrap">
            <div class="me-5">
                <img src="{{ partner.logo_url }}" width="250px" height="250px" />
            </div>
            <div class="d-flex flex-column justify-content-center">
                <h1 class="mb-3 mt-3 mt-md-0">{{ partner.name }}</h1>
                <p class="mb-0">{{ partner.description }}</p>
            </div>
        </div>
    </div>
</section>

<div class="bg-light-1">
    <div class="contained-wrapper pt-6 pb-6">
        <section class="section-courses-container">
            <div class="section-header d-flex align-items-center">
                <h3 class="section-title me-auto">Courses and Specialization</h3>
            </div>
            <div class="row pt-3 gutter-2rem">
                {% for course in courses %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{% url 'about_course' course_id=course.id %}">
                        <div class="course-item">
                            <div class="category-badge" style="background-color: #387aa6">
                                Information Technology
                            </div>
                            <img class="img-item" height="auto" width="100%" src="{{ partner.logo_url }}" />
                            <div class="course-details-container">
                                <div class="d-flex align-items-center">
                                    <img class="me-1" height="auto" width="32px"
                                        src="./images/course-company-placeholder.png" />
                                    <h2 class="course-title">{{ partner.name }}</h2>
                                </div>
                                <p class="course-description mt-2 pb-3">
                                    {{ course.display_name }}
                                </p>
                                <div class="course-start">Class Starts:</div>
                                <span class="course-start-date">
                                    {% if course.start_display != None %}
                                        {{course.start_display}}
                                    {% else %}
                                        {{course.start}}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% include 'partner/browse-by-category.html' %}
<style>
.hero-partner {
    background-image: url('{{ partner.banner_url }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 22.5rem;
    margin-top: -4.6rem;
    }
</style>

{% endblock %}
