{% extends "main_django.html" %}
{% load static %}

{% block body %}
{% if not user.is_authenticated %}
<br>
<br>
<br>
<br>
{% endif %}
<div
        style="background: linear-gradient(90deg, rgba(56, 122, 166, 0.7) 0.52%, rgba(58, 168, 161, 0.7) 50.45%, rgba(193, 205, 94, 0.7) 100%),url('./images/page-banners/partner-bg.png');">
        <div class="contained-wrapper">
            <section class="section-gradient-page-title">
                <h1 class="page-title">Meet our Partners</h1>
            </section>
        </div>
    </div>
    <div class="bg-light-1 mt-5 pb-6">
        <section class="section-partner-landing">
            <div class="contained-wrapper">
                <div class="row g-5">
                  {% for partner in partners %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="{% url 'partner' partner_name=partner.slugName %}">
                            <div class="partner-item-lg d-flex flex-column">
                                <img src="{{ partner.logo_url }}" width="auto" height="auto" />
                                <p>
                                    <span>{{ partner.name }}</span> {{partner.description}}
                                </p>
                                <div class="d-flex w-100">
                                    <button class="btn btn-primary mt-2 w-100">Go to website</button>
                                </div>
                            </div>
                        </a>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <div class="bg-gradient-img">
        <div class="contained-wrapper pt-6 pb-6">
            <section class="category-section">
                <div class="section-header d-flex align-items-center">
                    <h3 class="section-title me-auto text-white">Browse by Category</h3>
                    <a href="" class="fw-bold text-white">View all Courses</a>
                </div>
                <div class="row mt-1 gutter-2rem">
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/management.png'%}" />
                                <h4 class="mb-0 py-3">Management</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px"
                                    src="{% static 'images/categories/engineering.png'%}" />
                                <h4 class="mb-0 py-3">Engineering</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/sales.png'%}" />
                                <h4 class="mb-0 py-3">Sales</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/marketing.png'%}" />
                                <h4 class="mb-0 py-3">Marketing</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/finance.png'%}" />
                                <h4 class="mb-0 py-3">Finance</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/HR.png'%}" />
                                <h4 class="mb-0 py-3">HR</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/IT.png'%}" />
                                <h4 class="mb-0 py-3">IT</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <a href="">
                            <div class="d-flex bg-white align-items-center category-item py-4">
                                <img class="me-3" height="auto" width="35px" src="{% static 'images/categories/operation.png'%}" />
                                <h4 class="mb-0 py-3">Operations</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endblock %}
